html, body, td, th, p {
  margin: 0;
  padding: 0;
}

body, input, p {
  font-family: sans-serif;
  font-size: 13pt;
  line-height: 20pt
}

body {
  margin: 20pt;
}

.wrapper {
  margin-top: 20%;
  text-align: center;

  #ideas {
    font-size: 25pt;
    line-height: 30pt;
    display: block;
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
}

body {
  background-color: #000;
  color: white;
}
